In [1]:
a=10
print(type(a))
print(a)

<class 'int'>
10

In [2]:
age=100
print(type(age))
print(age)

<class 'int'>
100

In [4]:
phno=9390673276
print(type(phno))
print(phno)

<class 'int'>
9390673276

In [5]:
s='hello'
print(type(s))
print(s)

<class 'str'>
hello

In [6]:
s='hello"'
print(type(s))
print(s)

<class 'str'>
hello"

In [7]:
s="i'mjack sparow"
print(type(s))
print(s)

<class 'str'>
i'mjack sparow

In [8]:
sen='''hello im
reporter sam,i"want" to catch a news
,so i can telecast tomarrow'''
print (type(sen))
print(sen)

<class 'str'>
hello im
reporter sam,i"want" to catch a news
,so i can telecast tomarrow

In [1]:
st="hero"
v=st[1]
print(v)
print(st[0])
print(st[-1])

e
h
o

In [5]:
s="rani"
v=s[3]
print(v)
print(s[2])
print(s[0])
print(s[-2])

i
n
r
n

In [7]:
s="usha"
v=s[1]
print(s)
print(s[-1])
print(s[2])
print(s[3])

usha
a
h
a

In [8]:
u="naidu"
v=u[1]
print(u)
print(u[4])
print(u[-2])
print(u[0])
print(u[2])

naidu
u
d
n
i

In [9]:
s=["usha","rani",10.20]
print(type(s))
print(s)

<class 'list'>
['usha', 'rani', 10.2]

In [10]:
u=["usha","rani",25,35,70]
print(type(u))
print(u)

<class 'list'>
['usha', 'rani', 25, 35, 70]

In [16]:
s="usha"
v=s[1]
print(s[0])
print(s[-2])
print(s[-3])
print(s[2])
9print(s[1])

u
h
s
h
s

In [18]:
u=["hero","rani","enter",100,1000]
print(type(u))
print(u)

<class 'list'>
['hero', 'rani', 'enter', 100, 1000]

In [20]:
u="naidu"
v=u[1]
print(u[0])
print(u[-1])
print(u[-2])

n
u
d

In [21]:
t=100,300,5000
print(type(t))
print(t)

<class 'tuple'>
(100, 300, 5000)

In [29]:
t=10,20,30
print(type(t))
print(t)

<class 'tuple'>
(10, 20, 30)

In [31]:
t=10 
print(type(t))
print(t)

<class 'int'>
10

In [33]:
t=[1000,2000,3000]
print(t)
t[1]=5000
print(t)

[1000, 2000, 3000]
[1000, 5000, 3000]

In [ ]:
t=[10,20,30]
print