In [53]:
s={1,2,3,4,1,2,67}
print(str(s))
print(str(s)[-1])
print(str(s)[-2])
print(str(s)[3])

{1, 2, 3, 67, 4}
}
4

In [54]:
#converting int data into another types:
a=50
b=float(a)
print(b)
print(float(a))

50.0
50.0

In [8]:
a=50
print(type(a))
b=float(a)
print(b)
print(float(a))
print(complex(a))
print(bool(a))
print(str(a))
print(str(a)[0])
print(tuple(a))
print(set(a))
print(dict(a))
print(list(a))
#int we convert only float,complex,bool,str

<class 'int'>
50.0
50.0
(50+0j)
True
50
5

TypeError: 'int' object is not iterable

In [9]:
f=10

In [7]:
#converting float into another data types:
f=50.2
print(type(f))
print(int(f))
print(complex(f))
print(bool(f))
print(str(f))
print(str(f)[2])
print(list(f))
print(tuple(f))
print(set(f))
print(dict(f))
#float we convert only int,complex,bool,str

<class 'float'>
50
(50.2+0j)
True
50.2
.

TypeError: 'float' object is not iterable

In [13]:
c=10+2j
print(bool(c))
print(bool(0j))
print(str(c))
print(str(c)[0])
print(str(c)[-1])

True
False
(10+2j)
(
)

In [ ]:
#converting complex into another data types:
c=50+2j
print(type(c))
print(bool(c))
print(str(c))
print(int(c))
print(float(c))
print(tuple(c))
print(set(c))
print(dict(c))
print(list(c))
#complex we converting only bool,str

<class 'complex'>
True
(50+2j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [ ]:
#converting boolean into another data types:
b=True
print(type(b))
print(int(b))
print(float(b))
print(complex(b))
print(str(b))
print(tuple(b))
print(set(b))

<class 'bool'>
1
1.0
(1+0j)
True

TypeError: 'bool' object is not iterable

In [99]:
l=["james franklin",[100,200,"rohit"],{"name":"meason","age":23},"virat","RCB"]
# print(l[0][0:5])                james
# print(l[0][6:11])                   frank
# print(l[1][0:2])                 [100, 200]
# meas 
# 23
print(l[2][age][0])
# print(l[3][2::])                    rat
# print(l[4])                     RCB
# print(l[4][::-1])                   BCR
# print(l[3][-1:-4:-1])           tar


# print(l[3][-3::-1])                 riv

# print(l[1][2][2::1])             hit
# print(l[1][2][-3::-1])           hor
# print(l[1][::-1][1::])          [200, 100]
# print(l[0][-1:-9:-1])           nilknarf
# print(l[1][-1:-3:-1])           ['rohit', 200]
# print(l[3::])                     ['virat', 'RCB']
# print(l[-1:-3:-1])              ['RCB', 'virat']

NameError: name 'age' is not defined

In [4]:
a=50
b=float(a)
print(b)
print(float(a))

50.0
50.0

In [17]:
#converting str into other data types:
st1="123.20"
print(float(st1))

123.2

In [18]:
st2="321"
print(float(st2))

321.0

In [19]:
st="123"
print(int(st))

123

In [20]:
st="raja"
print(list(st))
print(set(st))
print(tuple(st))
print(dict(st))

['r', 'a', 'j', 'a']
{'r', 'j', 'a'}
('r', 'a', 'j', 'a')

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [22]:
l=[1,2,3]
print(str(l))
print(str(l)[3])
print(str(l)[2])
print(str(l)[-3])
print(str(l)[-5])

[1, 2, 3]

,

2

In [23]:
l=[1,22,3]
print(l)
print(str(l))
print(str(l)[3])
print(str(l)[2])
print(str(l)[0])
print(str(l)[4])
print(str(l)[-2])
print(str(l)[-5])
print(str(l)[-3])

[1, 22, 3]
[1, 22, 3]

,
[
2
3
2

In [24]:
l1=[1,2,2,44,5]
print(tuple(l1))
print(tuple(l1)[3])

(1, 2, 2, 44, 5)
44

In [26]:
l1=[1,2,2,1,33,4,55,6]
print(set(l1))

{1, 2, 33, 4, 6, 55}

In [40]:
l2=[("name","raju"),("age",21),("cars",("audi","bmw","porsche")),[1:100]]

SyntaxError: invalid syntax (842532162.py, line 1)

In [42]:
t=[100,200,"raja","rani"]
print(str(t))
print(str(t)[-2])
print(str(t)[-1])
print(str(t)[-5])

[100, 200, 'raja', 'rani']
'
]
a

In [45]:
l3=[("name","jack"),("age",33)]
print(dict(l3))

{'name': 'jack', 'age': 33}

In [46]:
t=(1,2,"python","java")
print(list(t))

[1, 2, 'python', 'java']

In [47]:
t=(1,1,1,1,2,2,2,2,3,3,3,4,4,4,5,5,5,56,55)
print(set(t))

{1, 2, 3, 4, 5, 55, 56}

In [48]:
t1=(("name","virat"),("lastname","kohli"))
print(dict(t1))

{'name': 'virat', 'lastname': 'kohli'}

In [49]:
t2=([1,2,],["car","audi"],{"raja","rani"})
print(dict(t2))

{1: 2, 'car': 'audi', 'raja': 'rani'}

In [50]:
set1={1,2,3,3}
print(set1)
print(str(set1))
print(list(set1))
print(tuple(set1))

{1, 2, 3}
{1, 2, 3}
[1, 2, 3]
(1, 2, 3)

In [51]:
s={(1,2),(3,4)}
print(dict(s))

{1: 2, 3: 4}

In [54]:
dict={'name':'anil','age':23}
print(str(dict))
print(tuple(dict))
print(set(dict))
print(list(dict))

{'name': 'anil', 'age': 23}
('name', 'age')
{'age', 'name'}
['name', 'age']

In [58]:
dict1={"name":"usha","age":20}
print(str(dict1))
print(list(dict1))
print(set(dict1))
print(tuple(dict1))

{'name': 'usha', 'age': 20}
['name', 'age']
{'age', 'name'}
('name', 'age')